body {
  background-color: #343a40ff;
  color: #f2f2f3;
}

h1 {
  font-size: 33px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 25vh;
}

button {
  background-color: #6200ee;
  color: white;
  border: none;
  padding: 20px;
  border-radius: 6px;
}
